@import "../utils/normalize";
@import "../utils/variables";
@import "../utils/keyframes";

// Polices //--------------------------------------------------------------
* {
  font-family: "Roboto", sans-serif;
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
}
h1 {
  font-family: "Shrikhand";
  margin-bottom: 2.5rem;
  font-weight: 400;
}
h2 {
  font-weight: normal;
  margin: 0;
  position: relative;
}
h3 {
  font-weight: bold;
}

// Body //
body {
  min-width: 307px;
  text-rendering: optimizeSpeed;

  header {
    max-width: 1200px;
    margin: 0 auto;

    img {
      margin: 20px 0px;
    }

    .div-header {
      display: block;
      flex-direction: row;

      // Div arrow //
      > div:first-child {
        position: absolute;
        flex-direction: row;
      }

      // Div logo //
      > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
      }
      .fas.fa-arrow-left {
        margin: 27px 0px 0px 21px;
        font-size: 20px;
        flex-direction: row;
        color: black;
      }
    }
  }
  main {
    div img {
      height: 260px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    section {
      max-width: 1200px;
      background-color: #f2f2f2;
      margin: -35px auto 0;
      box-shadow: 0px -1px 3px 2px #0000002e;
      position: relative;
      border-radius: 2rem 2rem 0 0;
      height: auto;
    }
    .container-background {
      margin: 0 auto -24px;

      h2 {
        font-weight: normal;
      }

      > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 1rem 0 1rem;
      }

      .icons {
        font-size: 27px;
        .fas.fa-heart {
          font-size: 27px;
          color: transparent;
          &:hover {
            cursor: pointer;
            color: rgb(219, 138, 138);
          }
        }
      }

      > div:last-child {
        position: relative;
        margin: 0 2.6rem 0 1rem;
      }
    }

    // Container-entrées //

    // Div contenant catégorie //
    .container-category {
      margin: 0 auto;

      // Div catégorie //
      .category {
        padding: 0px 14px 0px;
      }

      // Div contenant cartes //
      .container-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 14px;
        justify-content: space-between;
        :hover {
        }
      }

      h2::after {
        content: "";
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 47px;
        height: 3px;
        background-color: #99e2d0;
      }

      // Div carte //
      .div-cards {
        display: flex;
        flex: 1;
        width: 100%;
        flex-wrap: wrap;
        margin: 0.5rem 0;
        justify-content: center;
        box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
        border-radius: 17px;
        background-color: white;
        overflow: hidden;

        @media screen and (min-width: 344px) {
          display: flex;
          flex: 1;
          width: 100%;
          flex-wrap: wrap;
          margin: 0.5rem 1rem;
        }
      }

      // Contenu des cartes //
      .contenu-card {
        display: flex;
        padding: 1rem 1.5rem 1rem 0.7rem;
        justify-content: space-between;
        align-items: flex-end;
        min-width: 0;
        max-width: 100%;

        @media screen and (min-width: 344px) {
          width: 300px;
        }
      }

      // Textes des cartes //
      .contenu-card-text {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        max-width: 80%;
        h3 {
          font-size: 1.1rem;
        }
        p,
        h3 {
          margin: 0;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      // Cartes au survol //
      .card-hover {
        background-color: #99e2d0;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        font-size: 1.5rem;
        transition: margin 300ms, width 300ms;
        width: 70px;
        height: 100%;
        margin-right: -4rem;
      }

      // Prix des cartes //
      .contenu-card-prix {
        font-weight: bold;
      }
    }

    // Bouton commander //
    .div-button {
      display: flex;
      justify-content: center;
      margin-top: 1.5rem;

      .button {
        display: flex;
        justify-content: center;
        width: 200px;
        line-height: 50px;
        background: linear-gradient(#ff79da, #9356dc);
        border-radius: 25px;
        margin-bottom: 3em;
        box-shadow: 0px 2px 4px 3px #0000002e;
        transition: all 400ms;

        > a {
          color: white;
          text-decoration: none;
        }
        &:hover {
          box-shadow: 0px 5px 7px 2px #0000002e;
          transform: scale(1.04);
          cursor: pointer;
          transition: all 400ms;
          filter: brightness(120%);
          cursor: pointer;
        }
      }
    }
    // ICONE COEUR //
    .icon-heart {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      justify-content: center;

      i:first-child {
        font-size: 1.75rem;
      }
      i:last-child {
        opacity: 0;
        position: absolute;
        background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transform: scale(1.15);
        transition: opacity 150ms ease-in-out;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
        &::before {
          font-size: 26px;
        }
      }
    }
  }
  // FOOTER--------------------------------------------------------------
  footer {
    background-color: #353535;

    > div:nth-child(1) {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      color: white;
      padding: 3%;
    }

    > div:nth-child(2) {
      display: flex;
      justify-content: flex-start;
      color: #ffffff;
      margin: 0 auto;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
      margin: 6px 0px;
    }

    a {
      color: white;
      text-decoration: none;
      font-size: 1.1rem;
      cursor: pointer;
      :hover {
        text-decoration: underline;
      }
    }

    h4 {
      font-style: normal;
      font-size: 1.17em;
      margin: 0px 7px 11px 0px;
      font-weight: normal;
    }

    .fa-utensils::before {
      margin-left: 4px;
      margin-right: 12px;
    }

    .fa-hands-helping::before {
      margin-right: 10px;
    }

    .liens {
      text-decoration: none;
      font-weight: 100;
      font-size: 1rem;
    }
  }
}
