@import "../utils/normalize";
@import "../utils/variables";

// Polices //--------------------------------------------------------------
* {
  font-family: "Roboto", sans-serif;
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  padding-top: 20px;
  font-family: "Shrikhand";
}

// Body //
body {
  min-width: 300px;

  header {
    max-width: 1200px;
    margin: 0 auto;

    img {
      margin: 20px 0px;
    }

    .div-header {
      display: block;
      flex-direction: row;

      // Div arrow //
      > div:first-child {
        position: absolute;
        flex-direction: row;
      }

      // Div logo //
      > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
      }
      .fas.fa-arrow-left {
        margin: 27px 0px 0px 21px;
        font-size: 20px;
        flex-direction: row;
        color: black;
      }
    }
  }
  main {
    div img {
      height: 260px;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .container-background {
      max-width: 1200px;
      background-color: #f2f2f2;
      margin: -35px auto -24px;
      position: relative;
      border-radius: 2rem 2rem 0 0;
      box-shadow: -1px -1px 3px 1px #0000002e;
      h2 {
        font-weight: normal;
      }
      > div:first-child {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        margin: 0 1rem 0 1rem;
      }
      .far.fa-heart {
        font-size: 27px;
      }

      > div:last-child {
        position: relative;
        margin: 0 1rem 0 1rem;
      }
      .entrees {
        padding: 1rem 0;
      }
      h3 {
        font-weight: normal;
        position: relative;
      }
      h3::after {
        content: "";
        position: absolute;
        bottom: -0.25rem;
        left: 0;
        width: 47px;
        height: 3px;
        background-color: #99e2d0;
      }
      .div-cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
      }
      .card {
        width: 100%;
        border-radius: 1rem;
        box-shadow: 0 4px 8px rgb(0 0 0 / 20%);
        display: flex;
        overflow: hidden;
      }
      .contenu-card {
        background-color: white;
        display: flex;
        padding: 1rem 1.5rem 1rem 1rem;
        justify-content: space-between;
        align-items: center;
        flex: 1;
      }
      .contenu-card-text {
        display: flex;
        flex: 1;
        flex-direction: column;
        height: 2.5rem;
        justify-content: space-between;
        max-width: 80%;
      }
      .card-hover {
        width: 0;
        background-color: #99e2d0;
        color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        height: 100%;
        font-size: 1.5rem;
        margin-right: -4rem;
        transition: margin 300ms, width 300ms;
      }
    }
  }
}
// FOOTER--------------------------------------------------------------
footer {
  background-color: $background-footer;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 7%;
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    margin: 0 auto;
  }

  p {
    margin: 11px 0px;
  }

  h4 {
    font-style: normal;
    font-size: 1.17em;
    margin: 0;
    margin: 0px 7px 15px 0px;
    font-weight: normal;
  }

  .fa-utensils::before {
    margin-left: 4px;
    margin-right: 12px;
  }

  .fa-hands-helping::before {
    margin-right: 10px;
  }
}
/* Media queries
@media screen (min-whit{
  
} */
