@import "../utils/normalize";

// Polices //--------------------------------------------------------------
* {
  font-family: "Roboto", sans-serif;
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  padding-top: 20px;
}

// Body //
body {
  min-width: 300px;

  header {
    max-width: 1200px;
    margin: 0 auto;

    img {
      margin: 20px 0px;
    }

    #div-header {
      display: block;
      flex-direction: row;

      // Div arrow //
      > div:first-child {
        position: absolute;
        flex-direction: row;
      }

      // Div logo //
      > div:last-child {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-direction: row;
      }
      .fas.fa-arrow-left {
        margin: 27px 0px 0px 21px;
        font-size: 20px;
        flex-direction: row;
        color: black;
      }
    }
  }
  main {
    #div-background {
      height: 400px;
    }
  }
}
// FOOTER--------------------------------------------------------------
footer {
  background-color: #353535;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 7%;
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    margin: 0 auto;
  }

  p {
    margin: 11px 0px;
  }

  h4 {
    font-style: normal;
    font-size: 1.17em;
    margin: 0;
    margin: 0px 7px 15px 0px;
    font-weight: normal;
  }

  .fa-utensils::before {
    margin-left: 4px;
    margin-right: 12px;
  }

  .fa-hands-helping::before {
    margin-right: 10px;
  }
}
