// Polices //--------------------------------------------------------------
* {
  font-family: "Roboto", sans-serif;
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  padding-top: 20px;
}

// BODY //--------------------------------------------------------------
body {
  margin: auto;
  min-width: 300px;

  header {
    div {
      background: white;
      text-align: center;
    }
    img {
      margin: 20px 0px;
    }
  }

  main {
    #reservez {
      div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      > div:first-child {
        background-color: $dark-gray;
        text-align: center;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: -1px -1px 3px 1px #0000002e;
        padding: 0 6px;
      }

      p {
        padding: 0 15px;
      }
      //div button-explorer//
      > div:nth-child(2) {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $light-gray;
        padding: 0 6px;

        > p {
          margin: 0px 12px 25px 12px;
        }

        > div:nth-child(3) {
          width: 200px;
          line-height: 50px;
          background: linear-gradient(#ff79da, #9356dc);
          border-radius: 25px;
          margin-bottom: 3em;
          box-shadow: 0px 2px 4px 3px #0000002e;
          transition: all 400ms;

          > a {
            text-decoration: none;
            color: white;
          }

          &:hover {
            box-shadow: 0px 5px 7px 2px #0000002e;
            cursor: pointer;
            transition: all 400ms;
            filter: brightness(120%);
          }
        }
      }
    }
    // SECTION 2 Fontionnement //---------------------------------------------------------
    #fonctionnement {
      p {
        font-weight: bold;
      }
      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1200px;
      }

      h2 {
        margin: 30px 10px;
      }

      //Container-fonctionnement//
      > div:nth-child(2) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
      }

      //Div-fonctionnement//
      #container-fonctionnement {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        #div-flex {
          display: flex;
          flex-wrap: wrap;
        }

        .div-fonctionnement {
          display: flex;
          box-shadow: 0px 4px 7px -1px #0000002e;
          width: 17em;
          height: 4em;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          background-color: #f6f6f6;
          border-radius: 17px;
          margin: 10px 20px;
          transition: all 400ms;

          &:hover {
            background-color: #f5edff;
            cursor: pointer;
            box-shadow: 0px 0px 7px 0px #0000002e;
            transition: all 400ms;
          }
        }
      }
      .div-fonctionnement {
        // Section 2 ronds //

        #round-icon {
          display: flex;
          height: 25px;
          width: 25px;
          background-color: #9356dc;
          border-radius: 100%;
          color: white;
          text-align: center;
          margin: 0px 7px 0px -49px;
          justify-content: center;
          align-items: center;
        }

        #round-icon2 {
          display: flex;
          height: 25px;
          width: 25px;
          background-color: #9356dc;
          border-radius: 100%;
          color: white;
          text-align: center;
          margin: 0px 15px 0px -62px;
          justify-content: center;
          align-items: center;
        }

        #round-icon3 {
          display: flex;
          height: 25px;
          width: 25px;
          background-color: #9356dc;
          border-radius: 100%;
          color: white;
          text-align: center;
          margin: 0px 11px 0px -58px;
          justify-content: center;
          align-items: center;
        }
      }
    }
    //SECTION 3 Restaurants//-------------------------------------------------------------
    #restaurants {
      background-color: #f6f6f6;
      margin-top: 10px;
      margin: 30px 0px 0px 0px;

      > div:nth-child(1) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1200px;
      }

      h2 {
        margin: 30px 10px;
      }
      // Anciennement container-restaurant//
      > div:nth-child(2) {
        background-color: #f6f6f6;
        margin-top: 10px;
        padding-bottom: 50px;
        margin: 0 auto;
        max-width: 1200px;

        > div:nth-child(1) {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          padding: 0 15px;
        }

        .div-texte {
          h3 {
            font-size: 1em;
            margin: 0;
          }
          p {
            margin: 0;
          }
        }

        // Cartes des restaurants section 3 //

        // Icone coeur //
        .icon-heart {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          justify-content: center;

          i:first-child {
            font-size: 1.75rem;
          }
          i:last-child {
            opacity: 0;
            position: absolute;
            background-image: linear-gradient(to bottom left, #9356dc, #ff79da);
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transform: scale(1.15);
            transition: opacity 150ms ease-in-out;
            &:hover {
              cursor: pointer;
              opacity: 1;
              vertical-align: middle;
            }
            &::before {
              font-size: 26px;
              padding: 0px 1px 3px 0px;
              line-height: 22px;
            }
          }
        }

        .card-restaurant {
          background-color: white;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          margin: 20px auto;
          width: 100%;
          max-width: 440px;
          overflow: hidden;
        }

        // Images section 3 //
        #image1-background {
          background-image: url("./images/la-palette-du-gout.jpg");
          height: 200px;
          width: 100%;
          background-size: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 7px 0px #0000002e;
          }
        }

        #image2-background {
          background-image: url("./images/la-note-enchantee.jpg");
          height: 200px;
          width: 100%;
          background-size: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 7px 0px #0000002e;
          }
        }

        #image3-background {
          background-image: url("./images/a-la-francaise.jpg");
          height: 200px;
          width: 100%;
          background-size: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 7px 0px #0000002e;
          }
        }

        #image4-background {
          background-image: url("./images/le-delice-des-sens.jpg");
          height: 200px;
          width: 100%;
          background-size: cover;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          object-fit: cover;

          &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 7px 0px #0000002e;
          }
        }

        .new {
          height: 30px;
          width: 90px;
          background-color: #99e2d0;
          color: #008766;
          text-align: center;
          padding-top: 10px;
          border-radius: 4px;
          margin: 11px;
          float: right;
        }

        .flex-section3 {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
          align-content: space-between;
          height: 60px;
          margin: 0 14px;
        }
      }
    }

    // ICONES //
    .fas {
      &.fa-map-marker-alt::before {
        line-height: 3;
      }

      &.fa-utensils::before {
        margin-left: 4px;
        margin-right: 12px;
      }

      &.fa-hands-helping::before {
        margin-right: 10px;
      }

      &.fa-heart::before {
        font-size: 25px;
      }

      &.fa-mobile-alt::before {
        color: #7e7e7e;
        margin: 0px 14px 10px 7px;
        font-size: 20px;
      }

      &.fa-list-ul::before {
        color: #7e7e7e;
        margin: 50px 11px 10px -3px;
        font-size: 20px;
      }

      &.fa-store::before {
        color: #7e7e7e;
        margin: 50px 9px 10px -2px;
        font-size: 20px;
      }
    }
  }
}
// FOOTER--------------------------------------------------------------
footer {
  background-color: #353535;

  > div:nth-child(1) {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    padding: 3%;
  }

  > div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    color: #ffffff;
    margin: 0 auto;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 6px 0px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    :hover {
      text-decoration: underline;
    }
  }

  h4 {
    font-style: normal;
    font-size: 1.17em;
    margin: 0px 7px 11px 0px;
    font-weight: normal;
  }

  .fa-utensils::before {
    margin-left: 4px;
    margin-right: 12px;
  }

  .fa-hands-helping::before {
    margin-right: 10px;
  }

  .liens {
    text-decoration: none;
    font-weight: 100;
    font-size: 1rem;
  }
}
