// GENERAL //
h1 {
  font-size: 1.5em;
}
h2 {
  width: calc(100% - 30px);
  padding-top: 20px;
}

////////////////////// DEBUT ////////////////////////////////////

body {
  header {
    .logo {
      margin: 20px 0px;
    }
  }

  margin: 0;

  .bold {
    font-weight: bold;
  }

  main {
    .section1 {
      @include flex-section1;

      .div-button-explorer {
        @include div-button-explorer;
      }
    }

    .section3 {
      @include flex-section3;
    }
  }

  // ICONES //

  .fas {
    .fa-utensils::before {
      margin-left: 4px;
      margin-right: 12px;
    }

    .fa-hands-helping::before {
      margin-right: 10px;
    }

    .fa-mobile-alt::before {
      color: $icon-colors;
      margin: 0px 7px 10px 7px;
      font-size: 20px;
    }

    .fa-list-ul::before {
      color: $icon-colors;
      margin: 50px 4px 10px -3px;
      font-size: 20px;
    }

    .fa-map-marker-alt::before {
      line-height: 3;
      padding-right: 15px;
    }

    .far.fa-heart::before {
      font-size: 25px;
    }
  }
}

// AUTRES PARTIES //

// Footer //
footer {
  @include footer;
}
