body {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    width: calc(100% - 30px);
    padding-top: 20px;
  }
  margin: 0;
  .bold {
    font-weight: bold;
  }
  @include background-dark-gray;
  p {
    font-size: 14px;
  }

  // ICONES //

  .fas {
    .fa-utensils::before {
      margin-left: 4px;
      margin-right: 12px;
    }

    .fa-hands-helping::before {
      margin-right: 10px;
    }

    .fa-mobile-alt::before {
      color: $icon-colors;
      margin: 0px 7px 10px 7px;
      font-size: 20px;
    }

    .fa-list-ul::before {
      color: $icon-colors;
      margin: 50px 4px 10px -3px;
      font-size: 20px;
    }

    .fa-map-marker-alt::before {
      line-height: 3;
      padding-right: 15px;
    }

    .far.fa-heart::before {
      font-size: 25px;
    }
  }

  header {
    .logo {
      margin: 20px 0px;
    }
    @include text-center;
  }
  main {
    @include div-button-explorer;
    .section1 {
      @include flex-section1;
      @include background-dark-gray;
      @include text-center;
      @include background-light-gray;
    }
    .section2 {
      @include div-fonctionnement;
      @include round-icon;
      @include round-icon2;
      @include round-icon3;
      @include flex;
      @include section2-fonctionnement;
    }
    .section3 {
      @include flex-section3;
      @include background-card;
      @include image1-background;
      @include image2-background;
      @include image3-background;
      @include image4-background;
      @include card-restaurant;
      @include div-restaurants;
      @include new;
      @include div-texte;
    }
  }
}

footer {
}
