/* Error: expected "{".
 *    ,
 * 25 | @mixin button-explore: hover {
 *    |                      ^
 *    '
 *   composants\_buttons.scss 25:22  @import
 *   main.scss 1:9                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 25 \2502  @mixin button-explore: hover {\d\a    \2502                       ^\a    \2575 \a   composants\\_buttons.scss 25:22  @import\a   main.scss 1:9                   root stylesheet';
}
