// GENERAL //

body {
  margin: 0;
}

.bold {
  font-weight: bold;
}

.logo {
  margin: 20px 0px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  width: calc(100% - 30px);
  padding-top: 20px;
}

// AUTRES PARTIES //

.background-dark-gray {
  background-color: #eaeaea;
  box-shadow: -1px -1px 3px 1px #0000002e;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.background-light-gray {
  background-color: #f6f6f6;
}

.background-card {
  background-color: #f6f6f6;
  margin-top: 10px;
  padding-bottom: 50px;
}

.image1-background {
  background-image: url("Maquettes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image2-background {
  background-image: url("Maquettes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image3-background {
  background-image: url("Maquettes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.image4-background {
  background-image: url("Maquettes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-restaurant {
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin: 10px 0px;
  width: 100%;
  max-width: 300px;
}

#div-button-explorer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 6px;
}

.div-fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 7px -1px #0000002e;
  width: 15em;
  height: 4em;
}

.div-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
  width: calc(100% - 30px);
}

.new {
  height: 30px;
  width: 90px;
  background-color: #99e2d0;
  color: #008766;
  text-align: center;
  padding-top: 10px;
  border-radius: 4px;
  margin: 11px;
  float: right;
}

.round-icon {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin: 0px 11px 0px -25px;
  justify-content: center;
  align-items: center;
}

.round-icon2 {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin: 0px 20px 0px -36px;
  justify-content: center;
  align-items: center;
}

.round-icon3 {
  height: 25px;
  width: 25px;
  background-color: #9356dc;
  border-radius: 100%;
  color: white;
  text-align: center;
  margin: 0px 17px 0px -31px;
  justify-content: center;
  align-items: center;
}

.images-restaurants {
  width: auto;
  height: 200px;
  object-fit: cover;
}

.flex {
  display: flex;
}

#div-button-explorer p {
  margin: 0px 12px 25px 12px;
}

.div-fonctionnement:hover {
  background-color: #f5edff;
  cursor: pointer;
}

.background-fonctionnement {
  background-color: #f6f6f6;
  border-radius: 17px;
  margin: 10px 0px;
}

#section2-fonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

#section2-fonctionnement p {
  font-weight: bold;
  font-size: 14px;
  padding: 0 15px;
}

p {
  font-size: 14px;
}

#icone-menu {
  font-size: 25px;
}

.button-explore {
  width: 200px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(#ff79da, #9356dc);
  text-decoration: none;
  border-radius: 25px;
  margin-bottom: 3em;
  box-shadow: 0px 0px 7px 0px #0000002e;
  cursor: pointer;
}

.button-explore:hover {
  background: linear-gradient(#9356dc, #ff79da);
  box-shadow: 0px 0px 7px 0px #0000002e;
}

.button-explore-color {
  color: white;
  text-decoration: none;
}

.flex-section1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-section3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  margin: 0 10px;
}

.div-texte h3 {
  font-size: 1em;
  margin: 0;
}

.div-texte p {
  margin: 0;
}

.icone-heart {
  height: 85px;
  width: 85px;
  display: flex;
  justify-content: right;
  align-items: center;
}

// FONT //

* {
  font-family: "Roboto", sans-serif;
}

footer h4 {
  font-family: "Shrikhand", sans-serif;
}

// FOOTER

footer {
  background-color: #353535;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 7%;
}

footer p {
  margin: 5px;
}

footer h4 {
  font-style: normal;
  font-weight: 100;
  font-size: 1.17em;
  margin: 0;
  margin: 0px 7px 15px 7px;
}

// Icones //

.fas {
  &.fa-utensils::before
    margin-left: 4px
    margin-right; 12px {

  &.fa-hands-helping::before
    margin-right: 10px {

  &.fa-mobile-alt::before
    color: #7e7e7e
    margin: 0px 7px 10px 7px
    font-size: 20px {

  &.fa-list-ul::before
    color: #7e7e7e
    margin: 50px 4px 10px -3px
    font-size: 20px {

  &.fa-map-marker-alt::before
    line-height: 3
    padding-right: 15px {

  &.far.fa-heart::before
    font-size: 25px {
  
  }

