// FOOTER

@mixin footer {
  $background-footer: #353535;
  $white-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 7%;

  h4 {
    font-style: normal;
    font-weight: 100;
    font-size: 1.17em;
    margin: 0;
    margin: 0px 7px 15px 7px;
  }

  p {
    margin: 5px;
  }
}
