// Couleurs //
$primaire: #9356dc;
$secondaire: #ff79da;
$tertiaire: #99e2d0;
$light-grey: #f6f6f6;
$dark-grey: #eaeaea;
$icon-colors: #7e7e7e;
$white-color: #ffffff;
$background-footer: #353535;

//
